<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.gms.web.mapper.MemberMapper">
	<insert id="insert" parameterType = "com.gms.web.member.MemberDTO">
		INSERT INTO Member(member_id,
	 	       name,
	 	       pw,
	 	       ssn,
	 	       regdate,
	 	       phone,
	 	       email,
	 	       profile
       	) 
		VALUES (
			#{id},
			#{name},
			#{pw},
			#{ssn},
			now(),
			#{phone},
			#{email},
			#{profile}
       );
	</insert>
 	<select id="countMembers" resultType="string">
 		select count(*) as count from member
 	</select>
 	<select id="login" resultType="com.gms.web.member.MemberDTO" parameterType="com.gms.web.command.CommandDTO">
	 	SELECT member_id AS id,
	 	       name,
	 	       pw,
	 	       ssn,
	 	       regdate,
	 	       phone,
	 	       email,
	 	       profile
	 	FROM member where member_id = #{search}
 	</select>
 	
 	<select id="selectById" resultType="com.gms.web.member.StudentDTO" parameterType="com.gms.web.command.CommandDTO">
	 	SELECT member_id AS id, name, pw, ssn, regdate, phone, email, profile
	 	FROM Member WHERE member_id = #{search}
 	</select>
 	
	<select id="selectAll" resultType="com.gms.web.member.StudentDTO" parameterType="com.gms.web.command.CommandDTO">
		select  *
		from (select @rnum := @rnum +1 as num, s.*
		 from (select @rnum := 0) r, student s
	    )t
	    where num between #{startRow} and #{endRow}
<!-- 	 select t.num, t.* 
	from (select @rownum := @rownum +1 num, s.* 
		from (select @rownum := 0) r, student s )t
    where t.num between #{startRow} and #{endRow}
    t.num, t.id, t.pw, t.name, t.ssn, t.title, t.regdate, t.phone, t.email 
     -->
	</select>
 	
 	<update id="update" parameterType="com.gms.web.member.MemberDTO">
	 	UPDATE Member SET email=#{email}, pw=#{pw},phone=#{phone}
	 	WHERE member_id= #{id};
 	</update>
 	<delete id="delete" parameterType="com.gms.web.command.CommandDTO">
 		DELETE FROM Member WHERE member_id like #{search}
 	</delete>
 </mapper>